@media all and (min-width: 1024px) and (max-width: 1280px) {
	header {
		max-width: 1280px;
		width: 984px;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.preview-left {
		justify-content: space-evenly;
	}

	.header-title {
		font-size: 32px;
	}
	
	main {
		height: 100%;
		max-width: 1280px;
		width: 984px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 30px;
	}

	.services-block {
		display: flex;
		justify-content: space-between;
		width: 480px;
	}

	.service-name {
		font-size: 14px;
	}

	footer {
		width: 768px;
		font-size: 16px;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	header {
		max-width: 1024px;
		width: 728px;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	main {
		height: 100%;
		max-width: 1024px;
		width: 728px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 30px;
	}

	.header-title {
		font-size: 32px;
	}

	.preview-right {
		width: 70%;
		height: 70%;
	}

	.services-inner {
		flex-direction: column;
		align-items: center;
	}
	.services-block {
		width: 100%;
		justify-content: space-between;
	}

	.subtitle {
		text-align: center;
	}

	.result-text {
		font-size: 14px;
	}

	h4 {
		font-size: 14px;
	}

	.step-text {
		font-size: 14px;
	}

	.img-step-arrow {
		width: 21px;
		height: 95px;
	}

	.contact-info-text {
		font-size: 14px;
	}

	footer {
		width: 768px;
		font-size: 14px;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	h4 {
		font-size: 14px;
	}

	header {
		max-width: 768px;
		width: 460px;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.adress-header {
		display: none;
	}

	.adress-header-mobile {
		display: flex;
	}

	.header-title {
		font-size: 24px;
	}

	main {
		height: 100%;
		max-width: 768px;
		width: 460px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 30px;
	}

	.preview-right {
		display: none;
	}

	.services-block {
		margin: 10px 0;
	}

	.services-inner {
		flex-direction: column;
	}

	.img-services {
		display: none;
	}

	.result-block {
		flex-wrap: wrap;
	}

	.result-inner {
		width: 175px;
		height: 167px;
		justify-content: center;
    	align-items: center;
		margin: 15px;
	}

	.img-result {
		margin-bottom: 5px;
	}

	.result-text {
		font-size: 16px;
	}
	
	.steps {
		flex-wrap: wrap;
	}

	.step {
		margin: 10px 5px;
	}

	.img-step-arrow {
		display: none;
	}

	.contacts-block {
		flex-wrap: wrap;
	}

	.contacts-inner {
		width: 220px;
		margin: 5px;
	}

	/* .contact-info-text {
		font-size: 12px;
	} */

	.wrapper {
		display: flex;
		justify-content: center;
	}

	footer {
		width: 480px;
		font-size: 16px;
		text-align: center;
	}
}

@media all and (max-width: 480px) {

	header {
		max-width: 480px;
		width: 320px;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.adress-header {
		display: none;
	}

	.preview {
		justify-content: center;
	}

	.header-title {
		font-size: 16px;
	}

	.preview-right {
		display: none;
	}

	main {
		height: 100%;
		max-width: 480px;
		width: 320px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 30px;
	}

	.label {
		text-align: center;
	}

	.services-block {
		margin: 10px;
	}

	.services-inner {
		flex-wrap: wrap;
	}

	.img-services {
		display: none;
	}

	.result-block {
		flex-direction: column;
		align-content: center;
		align-items: center;
	}

	.result-inner {
		margin: 10px;
	}

	.steps {
		flex-wrap: wrap;
	}

	.img-step-arrow {
		display: none;
	}

	.img-result {
		margin-bottom: 10px;
	}

	.contacts-block {
		flex-direction: column;
	}

	.contacts-inner {
		margin: 10px;
	}

	footer {
		width: 100%;
		text-align: center;
		font-size: 16px;
	}
}
