@media all and (min-width: 1024px) and (max-width: 1280px) {
	body {
		width: 1000px;
		margin-left: 12px;
		margin-right: 12px;
		padding: 5px;
	}

	header {
		width: 1000px;
	}

	.header {
		width: 1000px;
	}

	.header-title {
		font-size: 28px;
	}

	main {
		width: 1000px;
	}

	.sections {
		width: 1000px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.content {
		width: 1000px;
	}

	.img-step-arrow {
		display: none;
	}

	.content-inner {
		width: 490px;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	body {
    	width: 750px;
	}
	header {
    	width: 750px;
		
	}
	.header {
    	width: 750px;
	}
	.preview-right {
    	display: none;
	}
	main {
		width: 750px;
	}
	.sections {
		width: 750px;
	}
	.content {
		width: 750px;
	}

	.content-block {
		width: 370px;
		margin-top: 10px;
		text-align: center;
	}

	.content-inner {
		margin-top: 20px;
		width: 750px;
		justify-content: space-around;
	}

	.img-step-arrow {
		display: none;
	}
	
}

@media all and (min-width: 481px) and (max-width: 768px)  {
	body {
		width: 460px;
		margin: 10px;
	}
	.header {
		width: 100%;
	}
	
	.preview-right {
		display: none;
	}

	.sections {
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
	.content {
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
	}
	.content-block {
		margin-top: 5px;
		margin-bottom: 5px;
		width: 220px;
	}
	.img-services {
		display: none;
	}
	.img-step-arrow {
		display: none;
	}
	.content-inner {
		width: 100%;
		margin-top: 10px;
	}
	.adress-header {
		display: none;
	}
	.adress-header-mobile {
		display: flex;
	}
	.tel-header {
		display: none;
	}
	.preview-left {
		
		align-items: center;
	}
	h1 {
		font-size: 28px;
		text-align: center;
	}
	.definitions-inner {
		width: 220px;
	}
}


@media all and (min-width: 320px) and (max-width: 480px) {
	body {
		width: 300px;
		margin: 10px;
	}
	.header {
		width: 100%;
	}
	
	.preview-right {
		display: none;
	}

	.sections {
		margin: 5px;
		text-align: center;
	}
	.content {
		margin: 5px;
	}
	.content-block {
		margin: 5px;
	}
	.img-services {
		display: none;
	}
	.img-step-arrow {
		display: none;
	}
	.content-inner {
		width: 300px;
		margin-top: 10px;
	}
	.adress-header {
		display: none;
	}
	.adress-header-mobile {
		display: flex;
	}
	.tel-header {
		display: none;
	}
	.preview-left {
		
		align-items: center;
	}
	h1 {
		font-size: 28px;
		text-align: center;
	}
}
